---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/navbar.astro";
---

<Layout title="404: Page doesn't exist">
    <Navbar />
    <header class="flex flex-col justify-center gap-5 min-h-screen">
        <h1 class="text-center">Error: 404<br /> Page doesn't exist</h1>
    </header>
</Layout>
