---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/navbar";
---

<Layout title="404: Page doesn't exist">
    <Navbar />
    <header class="flex flex-col justify-center gap-5 min-h-screen">
        <h1>Page does not exist</h1>
    </header>
</Layout>
