---

---

<nav class="w-full flex flex-col items-center bg-background text-center z-50">
    <div class="flex justify-center py-10 w-[80%] border-b-2 border-b-text">
        <div
            class="flex gap-5 justify-between items-center w-full [&>*]:text-2xl max-sm:flex-col"
        >
            <a class="no-underline" href="/">James Barnfather</a>
            <div class="w-fit flex divide-x-2 divide-text] [&>*]:px-5">
                <a class="no-underline" href="/">Home</a>
                <a class="no-underline" href="/projects-and-work"
                    >Projects & Work</a
                >
            </div>
        </div>
    </div>
</nav>
