---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/navbar";
---

<Layout title="Toys">
    <header class="flex flex-col justify-center min-h-screen gap-5">
        <h1>Toys</h1>
    </header>
</Layout>
