---
import "./src/styles/global.css";
import "@fontsource-variable/outfit";

import Footer from "../components/footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title ?? "null"}</title>
    </head>
    <body>
        <main
            class="text-text bg-background
            flex min-h-screen flex-col items-center justify-start
            max-sm:gap-5"
        >
            <slot />

            <Footer />
        </main>
    </body>
</html>
